.app-bar-transparent {
  padding: 10px 15px;
  background: transparent !important;
  box-shadow: none !important;
  transition: all 0.4s;
}

.app-bar-light {
  padding: 10px 15px;
  background: white !important;
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15) !important;
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  transition: all 0.4s;
}

.header-bg-img {
  width: 100%;
  height: 380px;
  background-image: url("./images/profile-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.social-icon {
  margin-left: 10px !important;
  border-radius: 3px !important;
}

.social-icon:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

.menu-btn-transparent {
  display: none !important;
  border-radius: 3px !important;
}

.menu-btn-transparent:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

.menu-btn-light {
  display: none !important;
}

.menu-btn-light span {
  color: #3a3a3a !important;
}

.Content {
  padding: 35px;
  background: #ddd;
}

.content-placeholder {
  background: white;
  margin-top: -120px;
  height: 1200px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .header-bg-img {
    background-size: auto 100%;
  }
  .Content {
    padding: 20px;
  }
}

@media screen and (max-width: 700px) {
  .menu-btn-transparent {
    display: block !important;
  }
  .menu-btn-light {
    display: block !important;
  }
  .social-menu-line {
    display: none;
  }
}